:host {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  margin-top: 5em;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.block {
  width: 100%;
}

.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .page {
    margin-top: 1em;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
