.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-text {
    text-align: center;
}


@media screen and (max-width: 767px) {
    .footer{font-size: 0.7rem;} 
}